html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
	background: black;
}
.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	height: 100vh;
	width: 100vw;
	background: url('https://thumbs.gfycat.com/UnfitDrearyFossa-size_restricted.gif');
}

.about {
	height: 100vh;
	width: 100vw;
	background: url('https://images.unsplash.com/photo-1545161296-d9c2c241f2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
	background-position: scroll;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	opacity: 60%;
}

.projects {
	height: 100%;
	width: 100vw;
	background: black;
	display: grid;
}

.contact {
	display: grid;
	height: 100vh;
	width: 100vw;
	background: url('https://images.unsplash.com/photo-1482977036925-e8fcaa643657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}

.myName {
	margin-bottom: 5px;
	margin-top: 15px;
}

.welcomeButton {
	height: 5vh;
	width: 60px;
	background-color: black;
	border: 1px solid red;
	color: white;
}

.profilePic {
	width: 40vw;
	margin-left: 30vw;
	border-radius: 65%;
}


.navBar {
	height: 8vh;
	background: white;
}

.aboutMeOne, .aboutMeTwo {
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 4.6vmin;
	padding: 5vmin;
}

.aboutMeTwo {
	margin-top: 10vh;
}

.welcomeButtonDiv {
	display: grid;
	height: 25vh;
	width: 99vw;
	margin-top: 6vh;
}

.jamzDiv, .lineDiv, .logicDiv {
	background: black;
	border: 1px solid white;
	margin-bottom: 5vh;
}

.projectText {
	color: rgb(182, 182, 182);
	font-size: 1.2rem;
}

.projectText2 {
	color: rgb(182, 182, 182);
}

.contactInfoDiv {
	display: grid;
	justify-content: center;
	height: 50vh;
	width: 100vw;
}

.welcomeButtons{
	display: inline-block;
	padding:0.46em 1.6em;
	border:0.1em solid #000000;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	font-size: 2vh;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:white;
	border: 1px solid grey;
	margin-top: 2vh;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:transparent;
	text-align:center;
	transition: all 0.15s;
  }
	.welcomeButtons:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border: 2px solid white;
	text-decoration: none;
  }
	@media all and (max-width:30em){
	 .welcomeButtons {
	display:block;
	margin:0.4em auto;
	}
  }

.myName, .myTitle {
	text-align: center;
}

.projectPictures {
	width: 100%;
}

.projectsTitle {
	color: white;
	text-align: center;
	font-size: xx-large;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family:'Roboto',sans-serif;
}

.projectsTitleDiv {
	height: 7vh;
}

.contactText {
	font-size: 4vmin;
	text-decoration: none;
	margin-bottom: 15vh;
}